<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    </head>

    <body>
        <div class="productBig">
            <div><img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13254060_1023432927753615_4046654006984584088_n.jpg?oh=114db2a72e6a8714d1da834972829633&oe=57DADEAA" style="text-align:center; width:100%; height:auto;" /></div>
            <div><img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13240710_1023432934420281_6266017450555574097_n.jpg?oh=abcfbd18a4d9ec39ea40fbc57cc6403e&oe=57DA54C7" style="text-align:center; width:100%; height:auto;" /></div>
            <div><img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13254282_1023432964420278_8122367304915723197_n.jpg?oh=f402550b320a9c60338a941132096606&oe=57D2B44C" style="text-align:center; width:100%; height:auto;" /></div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.productBig').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                });
            });
        </script>
        
        <div id="css_table" style="display:table; margin-top:30px; width:100%;">
          <div class="css_tr" style="display: table-row;">
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13260016_1023429514420623_970340363446459682_n.jpg?oh=dd1c15a6ff9fbb454cb3e0f0d6749c06&oe=57D1FFE9" style="width:95%;  height:220px;">
                  <p>龍眼花蜜</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-0/s480x480/13239392_1023431807753727_5876811569426126486_n.jpg?oh=8db074dde391755e7439148f8400ffb5&oe=57DBC498" style="width:95%; height:220px;">
                  <p>綜合果乾</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13221030_1023429541087287_3844127513384808026_n.jpg?oh=43dde92b4fb5840915114ed764f25cb8&oe=579C82A9" style="width:95%;  height:220px;">
                  <p>甜玉軒果醬</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-0/s526x395/13265838_1023432931086948_1821761112853895965_n.jpg?oh=19c0fa726d87d0909898ddd798e77943&oe=57D1DE2E" style="width:95%;  height:220px;">
                  <p>阿公的香水檸檬</p>
                </a>
              </div>
          </div>
          
          <div class="css_tr" style="display: table-row;">
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">

                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13230129_1023429507753957_9185557659523559610_n.jpg?oh=3db898ccb8963aea63b71060f179388d&oe=57A07BB6" style="width:95%;  height:220px;">
                  <p><%= link_to "唐婆醋", home_content_path%></p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13240484_1023429497753958_5997350523561731805_n.jpg?oh=f616730d22ec8155eb2258cbcd10d506&oe=579B1207" style="width:95%;  height:220px;">
                  <p>果醬女孩</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13233058_1023429534420621_8165389116566527001_n.jpg?oh=17665fbf535a2ef9599a899ae7117eb6&oe=57D2647C" style="width:95%;  height:220px;">
                  <p>卡維蘭手工果醬</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13226752_1023429544420620_8932927317971357136_n.jpg?oh=d9ac300cb8a6af6d8e0b530e2efac8d4&oe=57D0FC71" style="width:95%; height:220px;">
                  <p>甜玉軒神隱甜點</p>
                </a>
              </div>
          </div>
        </div>
        <div>
          <blockquote>
            <table>
              <tr>
                <td>
                  <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13055480_999504096772149_3196037555656339203_n.jpg?oh=f643ce6a184e5a90d780137043a5eb75&oe=57D53D17" style="height:100px; margin-right:15px;"></img>
                </td>
                <td>
                  <p style="font-family: Microsoft JhengHei; font-weight: bold; font-style: italic;"> - 五個來自政大資管的學生，一份對農創產業的熱誠，想要透過科技的力量，為社會帶來不一樣的期盼，搭造一個農創特色商品與消費者之間的橋樑。</p>
                  <p style="font-family: Microsoft JhengHei; font-weight: bold; font-style: italic;"> - 我們的使命是：「讓特色農創商品被市場看見」</p>
                </td>
              </tr>
            </table>
          </blockquote>
        </div>
    </body>
</html>